<h1>
  Editar/Agregar
  héroe
  <small>Superman</small>
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">

  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>
        <form class="grid" [formGroup]="heroForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Super héroe</mat-label>
            <input matInput type="text" formControlName="superhero" required>
          </mat-form-field>
          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Alter ego</mat-label>
            <input matInput type="text" formControlName="alter_ego" required>
          </mat-form-field>
          <mat-form-field class="col-12">
            <mat-label>Primera aparición</mat-label>
            <input matInput type="text" formControlName="first_appearance" required>
          </mat-form-field>
          <mat-form-field class="col-12">
            <mat-label>Personajes</mat-label>
            <input matInput type="text" formControlName="characters" required>
          </mat-form-field>
          <mat-form-field class="col-12">
            <mat-label>Creador</mat-label>
            <mat-select formControlName="publisher" required>
              <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">{{publisher.description}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-12">
            <mat-label>Imagen alternativa</mat-label>
            <input matInput type="text" formControlName="alt_img" required>
          </mat-form-field>
          <!-- <button mat-flat-button color="primary" type="submit">
            Crear
          </button> -->
        </form>

        <div class="flex justify-content-between">
          <button mat-button color="warn">
            <mat-icon>delete</mat-icon>
            Borrar
          </button>
          <button mat-flat-button color="primary" (click)="onSubmit()">
            <mat-icon>save</mat-icon>
            Crear
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 sm:col-6">
    <mat-card>
      <img [src]="currentHero | heroImage" alt="imagen del heroe" mat-card-image>
    </mat-card>
  </div>

</div>

<pre>
  {{currentHero | json}}
</pre>
